---
- name: Initialise Kubernetes control plane
  ansible.builtin.command: kubeadm init
  args:
    creates: /etc/kubernetes/admin.conf
  register: kubeadm_init_output

- name: Ensure kube directory exists
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    owner: root
    group: root
    mode: '0700'

- name: Copy admin.conf to root kubeconfig
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    remote_src: true
    owner: root
    group: root
    mode: '0600'

- name: Generate join command dynamically
  ansible.builtin.command: kubeadm token create --print-join-command
  register: kubeadm_join_cmd_raw

- name: Store join command as fact on master
  ansible.builtin.set_fact:
    kubeadm_join_command: "{{ kubeadm_join_cmd_raw.stdout }}"

- name: Print Kubernetes join command (just for info)
  ansible.builtin.debug:
    msg: "Join command: {{ kubeadm_join_command }}"
