---
- name: restart containerd
  ansible.builtin.service:
    name: containerd
    state: restarted
    enabled: true

- name: reload sysctl
  ansible.builtin.command: sysctl --system
  changed_when: true
