apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitea-db-pvc
  namespace: rt
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 1Gi