name: "Infrastructure Cleanup"

on:
  workflow_dispatch:

jobs:
  cleanup:
    name: "Full Cleanup (K8s + Terraform)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Récupération du Kubeconfig pour piloter le cluster avant sa destruction
      - name: Download Kubeconfig Artifact
        uses: actions/download-artifact@v4
        with:
          name: cluster-kubeconfig
          path: ./
        continue-on-error: true # Permet de continuer si l'artifact est expiré

      # 2. Configuration de Terraform avec le Token Cloud
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      # 3. Suppression des ressources K8s (Crucial pour les Volumes DigitalOcean)
      - name: Delete Kubernetes Resources
        run: |
          if [ -f "kubeconfig.yaml" ]; then
            export KUBECONFIG=./kubeconfig.yaml

            echo "Suppression du namespace applicatif (Nettoyage des volumes CSI)..."
            # On attend que les volumes soient réellement supprimés côté DigitalOcean
            kubectl delete namespace rt --wait=true --timeout=5m || true

            echo "Suppression du LoadBalancer (Ingress Nginx)..."
            kubectl delete namespace ingress-nginx --wait=true --timeout=5m || true            
            
            echo "Suppression d'Argo CD..."
            kubectl delete namespace argocd --wait=true --timeout=5m || true
          else
            echo "Kubeconfig non trouvé, passage direct à Terraform Destroy."
          fi

      # 4. Destruction de l'infrastructure (VMs et LoadBalancer)
      - name: Terraform Destroy
        env:
          TF_VAR_do_token: ${{ secrets.DO_TOKEN }}
          TF_VAR_ssh_key_name: ${{ secrets.DO_SSH_KEY_NAME }}
        run: |
          cd terraform
          terraform init
          # Terraform Cloud va lire le State pour identifier les ressources à supprimer
          terraform destroy -auto-approve