name: Kubernetes platform cleanup

on:
  workflow_dispatch:

jobs:
  cleanup:
    name: "Full Cleanup (K8s + Terraform)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Récupération du Kubeconfig depuis le dernier déploiement 
      - name: Download Kubeconfig from Latest Deployment
        run: |
          echo "Recherche du dernier artefact 'cluster-kubeconfig'..."
          # Télécharge l'artefact le plus récent portant ce nom, peu importe le run
          gh run download --name cluster-kubeconfig --dir ./ || echo "⚠️ Aucun artefact trouvé."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      # 2. Configuration de Terraform avec le Token Cloud
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}


      # 3. Suppression chirurgicale des ressources Cloud (LoadBalancer & Volumes)
      - name: Delete Kubernetes Resources
        run: |
          if [ -f "kubeconfig.yaml" ]; then
            export KUBECONFIG=./kubeconfig.yaml

            echo "Suppression du LoadBalancer..."
            kubectl delete svc -n ingress-nginx ingress-nginx-controller --wait=true --timeout=3m || true

            echo "Suppression des PVC (Volumes DigitalOcean)..."
            kubectl delete pvc --all -n rt --wait=true --timeout=3m || true

            echo "Suppression des Namespaces..."
            kubectl delete namespace rt ingress-nginx argocd --wait=true --timeout=5m || true

            echo "Pause de sécurité (90s) pour la libération des API DigitalOcean..."
            # Crucial : Terraform doit attendre que DO marque les ressources comme 'deleted'
            sleep 90
          else
            echo "Kubeconfig non trouvé, tentative de destruction Terraform directe."
          fi

      # 4. Destruction de l'infrastructure (VMs et LoadBalancer)
      - name: Terraform Destroy
        env:
          TF_VAR_do_token: ${{ secrets.DO_TOKEN }}
          TF_VAR_ssh_key_name: ${{ secrets.DO_SSH_KEY_NAME }}
        run: |
          cd terraform
          terraform init
          # Terraform Cloud va lire le State pour identifier les ressources à supprimer
          terraform destroy -auto-approve
